/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --bg-color: #050816;
  --card-color: #111827;

  --primary: #ff7b00;
  --secondary: #00e5ff;

  --white: #ffffff;
  --gray: #a5a5a5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-color);
  color: var(--white);
  overflow-x: hidden;
}

section {
  padding: 100px 8%;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
}
